---
title: News
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
    <span class="date">{{ post.date | date_to_string }}</span>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
    <p><a href="{{ post.url }}" class="button">Read more</a></p>
</article>
<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}

<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Prev</a>
  {% else %}
    <span class="previous">Prev</span>
  {% endif %}

  {% if paginator.total_pages > 7 %}
    {% assign currentPage = paginator.page %}
    {% assign startPage = currentPage | minus: 3 %}
    {% assign endPage = currentPage | plus: 3 %}
    {% assign total_pages = paginator.total_pages %}
    
    {% if startPage < 1 %}
        {% assign startPage = 1 %}
        {% assign endPage = 7 %}
    {% endif %}
    
    {% if endPage > total_pages %}
        {% assign endPage = total_pages %}
        {% assign startPage = total_pages | minus: 6 %}
    {% endif %}
  {% else %}
  {% assign startPage = 1 %}
  {% assign endPage = paginator.total_pages %}
  {% endif %}

  
  {% for page in (startPage..endPage) %}
    {% if page == paginator.page %}
      <a href="#" class="page active">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="/" class="page">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
{% endif %}